# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: 菜逼程序员的博客
subtitle: 梦想之路
name: 二木
email: xsl0420@126.com
description: 本站是二木的技术分享博客。记录架构师之路。
keywords: ermu,ermu0420,二木，Spring,Spring Boot,Spring Cloud,Redis,Jvm,Docker,生活故事,架构,大数据,一线,FastDFS,开发者,编程,代码,开源,IT网站,Developer,Programmer,Coder,Geek,IT技术博客,Java,Python,
encoding: "utf-8"
favicon: favicon.png 

repository: ermu0420/ermu0420.github.io
github_url: https://github.com/ermu0420
url: http://ermu0420.club
enforce_ssl: 

## Gem
plugins:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata
  - jekyll-octicons
  
# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true
  syntax_highlighter: rouge

syntax_highlighter_opts:
   coderay_line_numbers:  nil

# Pagination
paginate: 10
paginate_path: 'page:num'

# Navigation. top menu list
menus:

  -
    href: /projectManage.html
    label: 项目管理
    target: _self

  -
    href: /softExam.html
    label: 软考之路
    target: _self
  -
   href: /algorithm.html
   label: 算法
   target: _self

  -
    href: /arch.html
    label: 架构
    target: _self

  -
    href: /link.html
    label: 友链
    target: _self

  -
    href: /about.html
    label: 关于
    target: _self


# Navigation. main menu list
navs:

  -
    href: /
    label: Home

  -
   href: /java.html
   label: Java
   target: _self

  -
   href: /tool.html
   label: Tool
   target: _self

  -
    href: /spring.html
    label: Spring
    target: _self
    subnav:
      -
       subHref: /spring-boot.html
       subLabel: Spring

      -
        subHref: /spring-boot.html
        subLabel: Spring Boot

      -
        subHref: /spring-cloud.html
        subLabel: Spring Cloud
  -
    href: /archives.html
    label: Archives
    target: _self

  -
    href: /about.html
    label: About
    target: _self
# labels. my blog key words
labels:

  -
    href: /nosql.html
    label: NoSql
    target: _blank

  -
    href: /docker.html
    label: Docker
    target: _blank

  -
    href: /functional.html
    label: Functional
    target: _blank

  -
    href: /reactive.html
    label: Reactive
    target: _blank

  -
    href: /python.html
    label: Python  
    target: _blank

# selected articles
classes:
  -
    href: /arch.html
    name: 架构师之路
    describe: 一个架构师的自我修养
  -
    href: /java.html
    name: Java 系列文章
    describe: Java 之根基，Java 程序员必学


# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
# analytics :
# provider : google
#   google :
#     tracking_id : ''  # ex. UA-72165600-X


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, MySQL, Oracle, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, NodeJS, ExpressJS, MongoDB, Redis, PHP,  Boostrap]
skill_mobile_app_keywords: [vuejs, hyhird app]


# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: ermu0420
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: ermu0420
    repo: blog-comments
    oauth:
        client_id: 529e90f9d56b271223a3
        client_secret: 211db8af09be4e0e068e3007282114dcca906d94
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: ermu0420
    repo: blog-comments
    clientID: 529e90f9d56b271223a3
    clientSecret: 211db8af09be4e0e068e3007282114dcca906d94
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true
